{% extends 'base.html.twig' %}

{% block main %}
    <h4 class="mb-5">
        {{ 'Team'|trans }}
        <span class="text-muted">{{ team.id }}</span>
    </h4>

    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dl class="col-sm-9">{{ team.id }}</dl>
        <dt class="col-sm-3">{{ 'Name'|trans }}</dt>
        <dl class="col-sm-9">{{ team.name }}</dl>
    </dl>

    <h5>{{ 'Team permissions'|trans }}</h5>
    <table class="table table-sm table-borderless">
        <thead>
            <tr>
                <th>{{ 'User'|trans }}</th>
                <th>{{ 'Permissions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for teamPermission in teamPermissions %}
                <tr>
                    <td>{{ teamPermission.user.username }}</td>
                    <td>{{ teamPermission.permissions|join(', ') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ui_team_list') }}" class="btn btn-secondary">
        {{ "Back to teams"|trans }}
    </a>
    <a href="{{ path('app_ui_team_edit', {id: team.id}) }}" class="btn btn-primary">
        {{ "Edit"|trans }}
    </a>
{% endblock %}
