{% extends 'base.html.twig' %}

{% block main %}
    <h4 class="mb-5">
        {{ 'Task'|trans }}
        <span class="text-muted">{{ task.id }}</span>
    </h4>

    <dl class="row">
        <dt class="col-sm-3">Id</dt>
        <dl class="col-sm-9">{{ task.id }}</dl>
        <dt class="col-sm-3">{{ 'Name'|trans }}</dt>
        <dl class="col-sm-9">{{ task.name }}</dl>
        <dt class="col-sm-3">{{ 'Description'|trans }}</dt>
        <dl class="col-sm-9">{{ task.description|default('-') }}</dl>
        <dt class="col-sm-3">{{ 'Teams'|trans }}</dt>
        <dl class="col-sm-9">
            {% for taskTeam in task.teams %}
                <h5>
                    <span class="badge rounded-pill bg-light text-dark">
                        {{ taskTeam.team.name }}
                    </span>
                </h5>
            {% else %}
                -
            {% endfor %}
        </dl>
    </dl>

    {% set route = 'shared' in app.request.headers.get('referer') ? 'app_ui_task_list_shared' : 'app_ui_task_list' %}
    <a href="{{ path(route) }}" class="btn btn-secondary">
        {{ "Back to tasks"|trans }}
    </a>
    <a href="{{ path('app_ui_task_edit', {id: task.id}) }}" class="btn btn-primary">
        {{ "Edit"|trans }}
    </a>
{% endblock %}
