<nav id="sidebar-wrapper" class="d-flex align-items-start flex-column p-5">
    <h4 class="mb-4">PoC App</h4>
    <div id="sidebar-nav" class="my-4">
        {% set route = app.request.get('_route') %}
        <a href="{{ path('app_ui_task_list') }}" class="{{ 'task' in route ? 'active' }} my-2">
            {{ 'Tasks'|trans }}
        </a>
        <a href="{{ path('app_ui_team_list') }}" class="{{ 'team' in route ? 'active' }} my-2">
            {{ 'Teams'|trans }}
        </a>
        <a href="{{ path('app_ui_user_list') }}" class="{{ 'user' in route and 'me' not in route ? 'active' }} my-2">
            {{ 'Users'|trans }}
        </a>
    </div>
    <div class="mt-auto">
        <div class="btn-group dropup">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'Profile'|trans }}
            </button>
            <div class="dropdown-menu">
                <p class="pl-4 pt-2">
                    <strong>{{ app.user.username }}</strong><br>
                    {{ app.user.company.name }}
                </p>
                <hr>
                <a href="{{ path('app_ui_user_me') }}" class="dropdown-item">
                    {{ 'Show profile'|trans }}
                </a>
                <a href="{{ path('app_ui_logout') }}" class="dropdown-item">
                    {{ 'Sign out'|trans }}
                </a>
            </div>
        </div>
    </div>
</nav>
